<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="{{path('homepage')}}" class="site_title">Jupiter</a>
        </div>

        <div class="clearfix"></div>

        <div class="profile">
            <div class="profile_info" style="width: 100%">
                <span>Welcome,</span>
                <h2>{{ app.user.username }}</h2>
            </div>
        </div>

        <br />

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="{{path('contact')}}"><i class="fa fa-home"></i>Contacts</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
