.tagarea {
  display: none;
}

.tag-box {
  list-style: none;
  margin: 0;
  display: inline-block;
  padding-left: 45px;


    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tag-box * {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.tag-box li {
  padding: 4px 6px;
  float: left;
  display: inline-block;
}
.tag-box li.tags {
  background: #337ab7;
  color: #fff;
  border-radius: 4px;
  margin: 3px 3px;
  position: relative;
}
.tag-box li.tags .close {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 0;
  right: 0;
  height: 18px;
  cursor: pointer;
  top: 4px;
}
.tag-box li.tags .close:after {
  content: 'x';
}
.tag-box li.tags.edit {
  background: none;
  border: 1px solid;
}
.tag-box li.tags.edit .input-tag {
  height: auto;
}
.tag-box li.tags.edit:hover {
  padding: 4px 6px;
}
.tag-box li.tags.danger {
  background: #d9534f;
  opacity: 0.8;
}
.tag-box li.tags:hover {
  padding-right: 18px;
}
.tag-box li.tags:hover .close {
  width: 14px;
}
.tag-box li .input-tag {
  height: 24px;
  vertical-align: middle;
  border: none;
  outline: none;
  background: none;
}
.tag-box li .input-tag:hover, .tag-box li .input-tag:focus {
  outline: none;
  border: none;
}
